<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="Virksomhed" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://kombit.dk/sts/organisation/virksomhed"
                binding="basicHttpBinding" bindingConfiguration="Virksomhed"
                contract="Kombit.InfrastructureSamples.VirksomhedService.VirksomhedPortType"
                name="Virksomhed" />
        </client>
    </system.serviceModel>
</configuration>