<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="sdi">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://sagsogdokumentindeks.eksterntest-stoettesystemerne.dk/sts-soap-sagdok/sagdokumentindeks/6"
                binding="customBinding" bindingConfiguration="sdi" contract="Kombit.InfrastructureSamples.SagDokumentIndeksService.SagDokumentIndeksPortType"
                name="SagDokumentIndeks" />
        </client>
    </system.serviceModel>
</configuration>