<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="Klasse">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://kombit.dk/sts/klassifikation/klasse"
                binding="customBinding" bindingConfiguration="Klasse" contract="Kombit.InfrastructureSamples.KlasseService.KlassePortType"
                name="Klasse" />
        </client>
    </system.serviceModel>
</configuration>